<div class="row">
  <div class="col-sm-8">
    <div class="card-header">
      <label> Select Form Name :
        <select #formName style="min-width:200px">
          <option *ngFor="let form of storedForms" >{{form}}</option>
        </select>
      </label>

      <button (click)="getForm(formName.value)" class="btn-primary " style="margin:0px 3px 0px 3px">Load Form</button>
      <button (click)="buildForm(jsonString.value)" class="btn-primary ">Render Form</button>
    </div>
  </div>
  <div class="col-sm-4 ">
    <p><a href="https://github.com/formio/angular-formio/wiki/Form-Renderer" class="btn btn-primary btn-block"
        target="_blank"><span class="fa fa-book"></span> Renderer Documentation</a></p>
  </div>
</div>
<label> Or paste your JSON here and hit Render Button : 
  <textarea #jsonString style="height:400px" cols="125"></textarea>
</label>
<div class="container card-header" style="padding:10px 10px 10px 10px">
    <div class="row">
      <div class="col-10">
        <label> Form Name :
          <input type="text" #saveFormName></label></div>
      <div class="col-2">
        <button class="btn-primary" (click)="save(saveFormName.value,jsonString.value)">Save Form</button></div>
    </div>

<h2>Output
  <hr>
</h2>
<div *ngIf=error>{{error}}</div>
<formio [form]="form"></formio>